#locationRollUp.shadow.pull-left

	a(href="/department/departmentname/compromises")
		ul.locationRollUp.pull-left
			li.sum 18
			li.locationLabel Compromises

	a(href="/department/departmentname/locations")
		ul.locationRollUp.pull-left
			li.sum 36
			li.locationLabel Locations

	a(href="/department/departmentname/accounts")
		ul.locationRollUp.pull-left
			li.sum 72
			li.locationLabel Accounts

	a(href="/department/departmentname/assets")
		ul.locationRollUp.pull-left
			li.sum 18
			li.locationLabel Assets

	a(href="/department/departmentname/mobile_devices")
		ul.locationRollUp.pull-left
			li.sum 12
			li.locationLabel Mobile Devices

	a(href="/department/departmentname/cloud_services")
		ul.locationRollUp.pull-left
			li.sum 22
			li.locationLabel Cloud Services