#vanityWrapper.pull-left
	ul.risk_score.pull-left
		li.totalScore 48
		li.totalScoreLabel Risk Score
		li.trend
	ul.user_details_vanity.pull-left
		li.username 
			a(href="/department/departmentname") Department Name
		li.users 
		li.location 
			a(href="/location") Department Location or Variant

