#locationRollUp.shadow.pull-left

	a(href="/organization/locations/users")
		ul.locationRollUp.pull-left
			li.sum= Math.floor(Math.random()*700+1)
			li.locationLabel Users

	a(href="/organization/locations/departments")
		ul.locationRollUp.pull-left
			li.sum 19
			li.locationLabel Departments

	a(href="/organization/locations/services")
		ul.locationRollUp.pull-left
			li.sum 20
			li.locationLabel Services

	a(href="/organization/locations/organizations")
		ul.locationRollUp.pull-left
			li.sum= Math.floor(Math.random()*100+1)
			li.locationLabel organizations

	a(href="/organization/locations/locations")
		ul.locationRollUp.pull-left
			li.sum= Math.floor(Math.random()*25000+1)
			li.locationLabel Locations

	a(href="/organization/locations/countries")
		ul.locationRollUp.pull-left
			li.sum= Math.floor(Math.random()*193+1)
			li.locationLabel Countries