ul#organization_nav.nav.nav-pills.pull-left
	li
		a(href="/organization/locations") Locations
	li
		a(href="/organization/cloud_services") Cloud Services
	li
		a(href="/organization/assets") Assets
	li
		a(href="/organization/mobile_devices") Mobile Devices
	li
		a(href="/organization/viruses") Viruses